/raytracer_png
/raytracer_ppm
/raytracer_progressive
/image.ppm
/image.png
/image_progressive.png

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
